{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not know %}
        <p>Prazer em conhece-lô</p>
    {% else %}
        <p>Feliz em te ver de novo</p>
    {% endif %}
</div>
<p>A data e a hora local é {{ moment(current_time).format('LLL') }}</p>
<p><strong>{{ moment(current_time).fromNow(refresh=True) }}</strong></p>
<hr/>
{{ wtf.quick_form(form) }}
{% endblock %}
